
<div class="card">
    <div class="card-body">
    <p>
        Titulo: {{arquivo.Titulo}}
    </p>
    <p>
        Descrição: {{arquivo.Descricao}} 

    </p>
    <p>
        Links: {{arquivo.Links}}
    </p>

    <p>
        Data: {{arquivo.Data}}
    </p>
    <p>
        Conteudo: {{arquivo.Conteudo}}
    </p>
    </div>
</div>
